<%= @user.email %> has written a service review on <%= @restaurant.name %>
<div class="mt-3">
  Summary of Review
</div>
<div>
  Rating: <%= @review.rating %>
</div>
<div>
  Comment: <%= @review.comment %>
</div>
